<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <title>THE HANGMAN</title>
</head>

<body>

   	<header>
    	<div>
    		<h1 class="title"> The Hangman </h1>
    	</div>

    	<nav class="menu">
	    		
	   		<button type="button" class="btn btn-primary">Deporte</button>
	   		<button type="button" class="btn btn-success centerbutton">Historia</button>
	   		<button type="button" class="btn btn btn-info rightbutton">Geografía</button>
	   		<button type="button" class="btn btn btn btn-danger">Ciencia</button>

	   		<hr>
		</nav>
    </header>

   	<section>
   		<div class="col-lg-4 left-column">

   			<%= form_for @hangman do |f| %>

  				<div class="form-group">
    				<%= f.label :suggestion %>
    				<div class="input-group">
	      				<div class="input-group-addon">clue</div>
    					<%= f.text_field :suggestion class="form-control" %>
    				</div>
  				</div>

 			   	<div class="form-group">
    				<%= f.label :word %>
    				<div class="input-group">
	     				<div class="input-group-addon">word</div>
    					<%= f.text_field :word class="form-control" %>
    				</div>
 				</div>

   				<div class="form-group">
    				<%f.label :word.check_letter %>
    				<div class="input-group">
	    				<div class="input-group-addon">letter</div>
    					<%= f.text_field :word.check_letter class="form-control" %>
    				</div>
 				</div>

 				<div class="form-group">
    				<label for="solve"></label>
    				<div class="input-group">
		   				<div class="input-group-addon">solve</div>
    					<input type="text" class="form-control" id="solve" placeholder="Answer">
    				</div>
 				</div>

  				<button type="submit" class="btn btn-primary personalize">Submit</button>
			</form>
   		</div>

   		<div class="col-lg-8 right-column">
   	
  			<form class="form-group">
  				<label for="lives"></label>
	   			<div class="input-group">
     				<div class="input-group-addon">Lives</div>
  					<input type="text" class="form-control" id="lives">
  			  	</div>
  			</form>
  		</div>
   	</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
